<nav class="nav flex-column">
    <a class="nav-link" routerLinkActive="active" routerLink="userList" href="#">用户列表</a>
    <a class="nav-link" routerLinkActive="active" routerLink="userDetail" href="#">用户详情</a>
    <a class="nav-link" routerLinkActive="active" routerLink="message" href="#">message</a>
    <a class="nav-link" routerLinkActive="active" routerLink="animation" href="#">animation</a>
    <a class="nav-link" routerLinkActive="active" routerLink="pipe" href="#">pipe</a>
    <a class="nav-link" routerLinkActive="active" routerLink="form" href="#">form</a>
    <a class="nav-link disabled" routerLinkActive="active" href="#">Disabled</a>

</nav>