<!-- <nav class="nav flex-column">
    <a class="nav-link" routerLinkActive="active" routerLink="userList" href="#">用户列表</a>
    <a class="nav-link" routerLinkActive="active" routerLink="userDetail/1" href="#">用户详情</a>
    <a class="nav-link" routerLinkActive="active" routerLink="message" href="#">message</a>
    <a class="nav-link" routerLinkActive="active" routerLink="animation" href="#">animation</a>
    <a class="nav-link" routerLinkActive="active" routerLink="pipe" href="#">pipe</a>
    <a class="nav-link" routerLinkActive="active" routerLink="form" href="#">form</a>
    <a class="nav-link disabled" routerLinkActive="active" href="#">Disabled</a>

</nav> -->


<ul id="accordion" class="accordion">
    <li>
        <div class="link">
            <i class="fas fa-address-book"></i> 用户模块
            <i class="fas fa-angle-left"></i>
        </div>

        <ul class="submenu">
            <li>
                <a class="" routerLinkActive="active" routerLink="userList" href="#">用户列表</a>
            </li>
            <li>
                <a class="" routerLinkActive="active" routerLink="userExplain" href="#">用户说明</a>
            </li>
        </ul>
    </li>
</ul>