<div>
    <h3>
        <small>
        用户列表 
    </small>
        <a class="btn btn-primary" routerLink='homes/userAdd' (click)='redirectAdd()'>添加</a>
    </h3>
    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows" [selected]="selected" [selectionType]="'single'" (activate)="onActivate($event)" (select)='onSelect($event)'>>
        <ngx-datatable-column name="序号" width="80">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                <strong>{{rowIndex +1}}</strong>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="姓名" prop="name">
            <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="操作" prop="id">
            <ng-template ngx-datatable-cell-template let-value="value">
                <button type="button" class="btn btn-primary" (click)="redirectUpdate(value)">修改</button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>